@import "core";
@import "layout";
@import "components";

.twitter-timeline {
    .load-more {
        display: none;
    }
}


.content-projects {
    background: url($image-path + '/content-projects-bg.png') no-repeat top center transparent;
    width: 100%;
    height: 248px;
    padding: 0 15px;
    margin-top: 10px;

    .thumbnail {

        float: left;
        width: 160px;;
        margin: 32px 10px;
        background: none;
        border-radius: 0;

        img {
            height: 113px;
        }
    }
}


