<!--[if lt IE 9]>
<!-- build:js /assets/oldieshim.js -->
<script src="{{ ASSETDIR }}/vendor/respond/dest/respond.min.js"></script>
<script src="{{ ASSETDIR }}/vendor/excanvas/excanvas.js"></script>
<!-- endbuild -->
<!--[endif]-->
<!-- build:js /assets/js/vendor.js -->
<script src="{{ ASSETDIR }}/vendor/modernizr/modernizr.js"></script>
<script src="{{ ASSETDIR }}/vendor/jquery-migrate/jquery-migrate.min.js"></script>
<script src="{{ ASSETDIR }}/vendor/jquery-ui/jquery-ui.min.js"></script>

<script src="{{ ASSETDIR }}/vendor/lodash/lodash.min.js"></script>
<script src="{{ ASSETDIR }}/vendor/moment/min/moment.min.js"></script>


<script src="{{ ASSETDIR }}/vendor/jquery.uniform/jquery.uniform.min.js"></script>
<script src="{{ ASSETDIR }}/vendor/bootbox/bootbox.js"></script>
<script src="{{ ASSETDIR }}/vendor/toastr/toastr.js"></script>
<!-- endbuild -->


<script src="{{ ASSETDIR }}/js/theme.js"></script>
<script>
    $(document).ready(function () {
        var packadic = Packadic.init({

        });

        console.log('window.packadic', packadic);
    });
</script>

{% if page.custom-js %}
{% for name in page.custom-js %}
<script src="{{ ASSETDIR }}/{{ name }}.js"></script>
{% endfor %}
{% endif %}


