
/********************************************************/
/*                   1. Generic colors                  */
/********************************************************/

.silver,
.silver-color .color {
  color: #cccccc !important;
}
.icon-silver:before {
  color: #cccccc;
}
.black,
.black-color .color {
  color: black !important;
}
.icon-black:before {
  color: black;
}
.anthracite,
.anthracite-color .color {
  color: #4c4c4c !important;
}
.icon-anthracite:before {
  color: #4c4c4c;
}
.grey,
.grey-color .color {
  color: #a5a5a5 !important;
}
.icon-grey:before {
  color: #a5a5a5;
}
.white,
.white-color .color {
  color: white !important;
}
.icon-white:before {
  color: white;
}
.red,
.red-color .color {
  color: #dd380d !important;
}
.icon-red:before {
  color: #dd380d;
}
.orange,
.orange-color .color {
  color: #ffae00 !important;
}
.icon-orange:before {
  color: #ffae00;
}
.green,
.green-color .color {
  color: #99c624 !important;
}
.icon-green:before {
  color: #99c624;
}
.blue,
.blue-color .color {
  color: #0059a0 !important;
}
.icon-blue:before {
  color: #0059a0;
}
